[submodule ".vim/pack/plugins/opt/emmet-vim"]
	path = .vim/pack/plugins/opt/emmet-vim
	url = https://github.com/mattn/emmet-vim.git
[submodule ".vim/pack/plugins/opt/material.vim"]
	path = .vim/pack/plugins/opt/material.vim
	url = https://github.com/kaicataldo/material.vim.git
[submodule ".vim/pack/plugins/opt/vim-airline"]
[submodule ".vim/pack/plugins/opt/vim-python-pep8-indent"]
	path = .vim/pack/plugins/opt/vim-python-pep8-indent
	url = https://github.com/Vimjas/vim-python-pep8-indent.git
[submodule ".vim/pack/plugins/start/async.vim"]
[submodule ".vim/pack/plugins/start/indentLine"]
	path = .vim/pack/plugins/start/indentLine
	url = https://github.com/Yggdroot/indentLine.git
[submodule ".vim/pack/plugins/start/rainbow"]
	path = .vim/pack/plugins/start/rainbow
	url = https://github.com/luochen1990/rainbow.git
[submodule ".vim/pack/plugins/start/swift.vim"]
	path = .vim/pack/plugins/start/swift.vim
	url = https://github.com/keith/swift.vim.git
[submodule ".vim/pack/plugins/start/tcomment_vim"]
	path = .vim/pack/plugins/start/tcomment_vim
	url = https://github.com/tomtom/tcomment_vim.git
[submodule ".vim/pack/plugins/start/vim-better-whitespace"]
	path = .vim/pack/plugins/start/vim-better-whitespace
	url = https://github.com/ntpeters/vim-better-whitespace.git
[submodule ".vim/pack/plugins/start/vim-lsp"]
	path = .vim/pack/plugins/start/vim-lsp
	url = https://github.com/prabirshrestha/vim-lsp.git
[submodule ".vim/pack/plugins/start/vim-prototxt"]
	path = .vim/pack/plugins/start/vim-prototxt
	url = https://github.com/chiphogg/vim-prototxt.git
[submodule ".vim/pack/plugins/opt/vim-fugitive"]
	path = .vim/pack/plugins/opt/vim-fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule ".vim/pack/plugins/start/typescript-vim"]
	path = .vim/pack/plugins/start/typescript-vim
	url = https://github.com/leafgarland/typescript-vim.git
[submodule ".vim/pack/plugins/start/vim-toml"]
	path = .vim/pack/plugins/start/vim-toml
	url = https://github.com/cespare/vim-toml.git
[submodule ".vim/pack/plugins/start/vim-fish"]
	path = .vim/pack/plugins/start/vim-fish
	url = https://github.com/dag/vim-fish.git
[submodule ".vim/pack/plugins/start/vim-multiple-cursors"]
	path = .vim/pack/plugins/start/vim-multiple-cursors
	url = https://github.com/terryma/vim-multiple-cursors.git
[submodule ".vim/pack/plugins/opt/vim-gitgutter"]
	path = .vim/pack/plugins/opt/vim-gitgutter
	url = https://github.com/airblade/vim-gitgutter.git
[submodule ".vim/pack/plugins/opt/asyncomplete.vim"]
	path = .vim/pack/plugins/start/asyncomplete.vim
	url = https://github.com/prabirshrestha/asyncomplete.vim.git
[submodule ".vim/pack/plugins/opt/asyncomplete-lsp.vim"]
	path = .vim/pack/plugins/start/asyncomplete-lsp.vim
	url = https://github.com/prabirshrestha/asyncomplete-lsp.vim.git
[submodule ".vim/pack/plugins/opt/minimalist"]
	path = .vim/pack/plugins/opt/minimalist
	url = https://github.com/dikiaap/minimalist.git
[submodule ".vim/pack/plugins/opt/lightline.vim"]
	path = .vim/pack/plugins/opt/lightline.vim
	url = https://github.com/itchyny/lightline.vim.git
[submodule ".vim/pack/plugins/opt/lightline-bufferline"]
	path = .vim/pack/plugins/opt/lightline-bufferline
	url = https://github.com/mengelbrecht/lightline-bufferline.git
[submodule ".vim/pack/plugins/start/fern.vim"]
	path = .vim/pack/plugins/start/fern.vim
	url = https://github.com/lambdalisue/fern.vim.git
[submodule ".vim/pack/plugins/opt/fern-git-status.vim"]
	path = .vim/pack/plugins/opt/fern-git-status.vim
	url = https://github.com/lambdalisue/fern-git-status.vim.git
[submodule ".vim/pack/plugins/start/nerdfont.vim"]
	path = .vim/pack/plugins/start/nerdfont.vim
	url = https://github.com/lambdalisue/nerdfont.vim.git
[submodule ".vim/pack/plugins/start/glyph-palette.vim"]
	path = .vim/pack/plugins/start/glyph-palette.vim
	url = https://github.com/lambdalisue/glyph-palette.vim.git
[submodule ".vim/pack/plugins/start/fern-renderer-nerdfont.vim"]
	path = .vim/pack/plugins/start/fern-renderer-nerdfont.vim
	url = https://github.com/lambdalisue/fern-renderer-nerdfont.vim.git
[submodule ".vim/pack/plugins/start/fern-hijack.vim"]
	path = .vim/pack/plugins/start/fern-hijack.vim
	url = https://github.com/lambdalisue/fern-hijack.vim.git
[submodule ".vim/pack/plugins/start/yaifa"]
	path = .vim/pack/plugins/start/yaifa
	url = https://github.com/Raimondi/yaifa.git
